@model ForgotPasswordViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Recovery password";
}

<h1 class="center-align">@ViewData["Title"]</h1>
<form asp-action="ForgotPassword" method="post" accept-charset="UTF-8" role="form">
    <fieldset>
        <p>Please enter your email address. We will send you instructions to reset your password</p>
        <div class="row center-align">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Email" class="red-text"></span>
            </div>
        </div>
        <div class="clearfix">
            <button class="btn waves-effect waves-light right" type="submit" name="action">Recover</button>
            <a asp-action="Login" class="modal-action modal-close waves-effect waves-light btn-flat right">Cancel</a>
        </div>
    </fieldset>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
