@{
    Layout = "_Layout";
    ViewData["Title"] = "Recovery password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
    <br />
    And <a asp-action="Login">click here to log in</a>.
</p>
