@model ResetPasswordViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Recover password";
}

<h1 class="center-align">Recover password</h1>
<form method="post" accept-charset="UTF-8" role="form">
    <fieldset>
        <p>Please enter your email address. We will send you instructions to reset your password</p>
        <div asp-validation-summary="ModelOnly" class="red-text"></div>
        <input asp-for="Code" type="hidden" />
        <div class="row">
            <div class="input-field col s12">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Email" class="red-text"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Password" class="red-text"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="off"/>
                <span asp-validation-for="ConfirmPassword" class="red-text"></span>
            </div>
        </div>
        <div class="clearfix">
            <button class="btn waves-effect waves-light right" type="submit" name="action">Reset</button>
        </div>
    </fieldset>
</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
